.footer {
	// background: red;
	text-align: center;
	font-family: $font-tertiary;
	font-size: 0.875rem;
	font-weight: 500;

	margin-top: 7.75rem;
	padding: 1rem;

	color: #a9a9a9;

	.username {
		font-weight: 700;

		color: #a9a9a9;
	}
}
